name: CI

on:
  push:
    branches:
      - dev
      - 'feature/**'
  pull_request:
    branches:
      - dev
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12" ]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"

      - name: Install Poetry
        run: pip install "poetry>=2.0"

      - name: Configure Poetry
        run: poetry config virtualenvs.in-project true

      - name: Cache virtual environment
        uses: actions/cache@v4
        id: cache-venv
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            venv-${{ runner.os }}-${{ matrix.python-version }}-

      - name: Install poetry-plugins
        run: pip install poetry-plugin-export

#      - name: Cache Poetry dependencies
#        uses: actions/cache@v4
#        with:
#          path: |
#            ~/.cache/pypoetry
#            ~/.cache/pip
#          key: ${{ runner.os }}-${{ matrix.python-version }}-poetry-${{ hashFiles('poetry.lock') }}
#          restore-keys: |
#            ${{ runner.os }}-${{ matrix.python-version }}-poetry-

      - name: Install dependencies with Poetry
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-root --no-ansi --only main

      - name: Run checks in parallel
        run: |
          poetry run ruff check . &
          poetry run mypy . &
          wait
