name: CI

on:
  push:
    branches:
      - dev
      - 'feature/**'
  pull_request:
    branches:
      - dev
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12" ]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: pip install poetry

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.cache/uv
          key: ${{ runner.os }}-${{ matrix.python-version }}-deps-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-deps-

      - name: Export dependencies from Poetry
        run: poetry export -f requirements.txt --without-hashes -o requirements.txt

      - name: Install uv (fast package installer)
        run: pip install uv

      - name: Install dependencies with uv
        run: uv pip install -r requirements.txt --system --no-cache-dir

      - name: Run Ruff check
        run: poetry run ruff check .

      - name: Run mypy check
        run: poetry run mypy .